<%= tag.tr id: dom_id(feature), class: 'feature' do %>
    <td class="pv3 pr3 bb b--black-20 title"><%= link_to feature.title, feature_path(feature.id) %></td>
    <td class="pv3 pr3 bb b--black-20 release"><%= feature.release %></td>
    <td class="pv3 pr3 bb b--black-20 director"><%= link_to feature.director, person_path(feature.director.id) %></td>
    <td class="pv3 pr3 bb b--black-20 cast">
        <%- actor_links = feature.actors.map do |actor|
            link_to actor, person_path(actor.id)
        end -%>
        <%= to_sentence actor_links %>
    </td>
<% end %>
