<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || 'Movies' %></title>
    <meta name="description" content="Sample Application in Rails">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="author" content="@blj">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body class="w-100 sans-serif">
    <%= render partial: 'layouts/header' %>
    <main class="w-100 bt b--black-10 bg-white ph3 ph5-ns">
        <%= yield %>
    </main>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
